#body{
  color: black;
}

.jumbotron {
  background: linear-gradient(90deg, #fc0 0, #fc0 48%, #ffe57f 70%, #fff0b2);
  height: 100%;
  padding: 1.5rem 2.2rem;
  position: relative;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: #d40511;
}

.container-class {
  background-image: url(./marketing.jpg);
  padding: 2.5rem 1rem;
  min-height: 20rem; 
  /* Center and scale the image nicely */
  background-position:65% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-card {
  background-color: #d40511;
}

.follow-up{
  font-size: x-small;
}